<html>
  <head>
    <script src="https://unpkg.com/vue@3.0.7/dist/vue.global.prod.js"></script>
    <style>
      .msg-input {
        text-align: right;
      }
      .msg-input > span {
        background-color: #DDFF99;
        padding: 5px;
        display: inline-block;
      }
      .msg-output > span {
        background-color: lightgoldenrodyellow;
        padding: 5px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div v-if="isError">An error while occured loading the script: {{errMessage}}</div>
      <div v-for="msg in msgArr" :class="{ 'msg-input': msg.type == 'input', 'msg-output': msg.type == 'output'}">
        <span>
          {{msg.text}}
        </span>
      </div>
      <div v-if="!isCompleted" style="text-align: right;">
        <input type="text" v-model="inputText" />
        <button v-on:click="onSubmit">Submit</button>
      </div>
      <div v-if="isCompleted && !isError">Program completed</div>
    </div>
  </body>
  <script>
    let loadErr;
    let errParams;
    let main;
    window.onerror = function(err, p1, p2, p3, p4, p5) { loadErr = err; errParams = [p1,p2,p3,p4,p5] }
    const scriptLoad = new Promise(function(resolve, reject) {
      const scriptElem = document.createElement('script');
      scriptElem.onerror = reject;
      scriptElem.onload = resolve;
      const theSrc = 
        `main = async function() {
//__MAIN_FUNCTION_BODY__
}`
      const srcUrl = URL.createObjectURL(new Blob([theSrc], {type: 'text/javascript'}))
      scriptElem.src = srcUrl;
      document.head.appendChild(scriptElem);
    });
  </script>
  <script>
    let inpResolve, inpReject;
    let buf = '';

    const App = {
      data() {
        return {
          msgArr: [],
          inputText: '',
          isCompleted: false,
          isError: false,
          errMessage: '',
        }
      },
      methods: {
        onSubmit() {
          const text = this.inputText;
          this.msgArr.push({
            text,
            type: 'input',
          });
          this.inputText = '';
          inpResolve(text);
          inpResolve = null;
          inpResolve = null;
        }
      }
    }

    const vm = Vue.createApp(App).mount('#app');

    scriptLoad.then(function () {
      if (!main) {
        throw errParams[3]+" line "+(errParams[1]-1)+":"+(errParams[2]);
      }
      main().then(output => {
        if (buf) {
          vm.msgArr.push({
            text: buf,
            type: 'output',
          });
          buf = '';
        }

        vm.isCompleted = true;
      }).catch(err => {
        if (buf) {
          vm.msgArr.push({
            text: buf,
            type: 'output',
          });
          buf = '';
        }

        let lineNumMsg = '';
        if (err.stack) {
          let stackLines = err.stack.split('\n', 2);
          if (stackLines.length >= 2) {
            lineTokens = stackLines[1].split(':');
            if (lineTokens.length >= 2) {
              lineNumMsg = " line "+(Number(lineTokens[lineTokens.length-2])-1)+":"+lineTokens[lineTokens.length-1].replaceAll(')', '');
            }
          }
        }

        vm.msgArr.push({
          text: 'Program encountered an error: '+err+lineNumMsg,
          type: 'output',
        });

        vm.isCompleted = true;
      })
    }).catch(err => {
      vm.isError = true;
      vm.errMessage = err;
      vm.isCompleted = true;
    })

    ////////////////////////////////

    function print(message) {
      buf += message;
    }

    function println(message) {
      if (message !== undefined) {
        buf += message;
      }
      buf += '\n';
    }

    function input() {
      if (buf) {
        vm.msgArr.push({
          text: buf,
          type: 'output',
        });
        buf = '';
      }

      return new Promise(function (resolve, reject) {
        if (inpReject) {
          inpReject('New input requested');
        }
        inpResolve = resolve;
        inpReject = reject;
      })
    }

  </script>
</html>